center.wrapper
  .webkit
    <!--[if (gte mso 9)|(IE)>
    <table width='600' align='center'><tr><td>
    <![endif]-->
    table.outer(align='center')
      block content
    <!--[if (gte mso 9)|(IE)>
    </td></tr></table>
    <![endif]-->
