//
// EMAIL COMPONENTS
// =================

//
// BASE STYLES
// Optional description
//

body
  margin 0 !important
  padding 0

table
  border-spacing 0
  margin-bottom 0

td
  padding 0

img
  border 0

/////////////////////

.wrapper
  width 100%
  table-layout fixed
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust 100%

.webkit
  max-width $email-width
  margin 0 auto

.outer
  margin 0 auto
  width 100%
  max-width $email-width
