nav.style-guide-nav
  ul
    li: a(href='#pre-header') Pre-header
    li: a(href='#header') Header
    li: a(href='#navigation') Navigation
    li: a(href='#hero') Hero
    li: a(href='#grid') Grid
    li: a(href='#listicle') Listicle
    li: a(href='#spacer') Spacer
