extend /default

//- Reset default blocks
block a11y-navigation
block pre-header
block main-header
block main-navigation
block main-footer

block content-wrapper
  .content-center
    .content-gutter
      .grid
        .grid__item.one-quarter
          include includes/style-guide-nav
        .grid__item.three-quarters
          block content
