extend ../style-guide

block content
  .prose
    section.style-guide-section(id='grid')
      include ../components/email-grid

    section.style-guide-section(id='header')
      include ../components/email-header
