include ../../../static-routes/views/mixins/email-wrapper

h2 Grid
p Use to display items within a grid.
-
  var data = {
    'content': [
        {'imageUrl':'http://img.clock.co.uk/300x200.jpg?color=0095da&textColor=0095da'}
      , {'imageUrl':'http://img.clock.co.uk/300x200.jpg?color=0095da&textColor=0095da'}
    ]
  }
.example
  +email-wrapper()
    include ../../../static-routes/views/components/email-grid

p The grid can have up to three items in a row:
-
  var data = {
    'content': [
        {'imageUrl':'http://img.clock.co.uk/300x300?color=0095da&textColor=0095da'}
      , {'imageUrl':'http://img.clock.co.uk/300x300?color=0095da&textColor=0095da'}
      , {'imageUrl':'http://img.clock.co.uk/300x300?color=0095da&textColor=0095da'}
    ]
  }
.example
  +email-wrapper()
    include ../../../static-routes/views/components/email-grid

p If there are an even number of items, the grid will display two per row:
-
  var data = {
    'content': [
        {'imageUrl':'http://img.clock.co.uk/300x200?color=0095da&textColor=0095da'}
      , {'imageUrl':'http://img.clock.co.uk/300x200?color=0095da&textColor=0095da'}
      , {'imageUrl':'http://img.clock.co.uk/300x200?color=0095da&textColor=0095da'}
      , {'imageUrl':'http://img.clock.co.uk/300x200?color=0095da&textColor=0095da'}
    ]
  }
.example
  +email-wrapper()
    include ../../../static-routes/views/components/email-grid

p And if there are an odd number of items greater than three, the grid will wrap:
-
  var data = {
    'content': [
        {'imageUrl':'http://img.clock.co.uk/300x300?color=0095da&textColor=0095da'}
      , {'imageUrl':'http://img.clock.co.uk/300x300?color=0095da&textColor=0095da'}
      , {'imageUrl':'http://img.clock.co.uk/300x300?color=0095da&textColor=0095da'}
      , {'imageUrl':'http://img.clock.co.uk/300x300?color=0095da&textColor=0095da'}
      , {'imageUrl':'http://img.clock.co.uk/300x300?color=0095da&textColor=0095da'}
    ]
  }
.example
  +email-wrapper()
    include ../../../static-routes/views/components/email-grid

h3 Alignment
p By default, the grid aligns to the center when it wraps - this can be changed with alignment:

h3 Gutterless
p By default, the grid has a gutter - this can be turned off with gutterless:
