include ../../../static-routes/views/mixins/email-wrapper

h2 Pre-header
p Use at the top of an email to contain important links.

.example
  +email-wrapper()
    include ../../../static-routes/views/components/email-pre-header
