include ../../../static-routes/views/mixins/email-wrapper

h2 Header
p Use to contain a full width logo.

.example
  +email-wrapper()
    include ../../../static-routes/views/components/email-header

//- p The header can contain social links:
