//
// STYLE GUIDE
// ===========
//

.style-guide-nav
  background $color--white
  font-family $base--font-heading

  a
    display block
    padding $base--spacing
    border-bottom 1px solid $color--grey

.style-guide-section
  padding $base--spacing
  background $color--white
  border-bottom 1px solid $color--grey

  +width-min($mq--desktop)
    padding ($base--spacing * 2)

  & + &
    margin-top rem(20)

.example
  display block
  margin 0 (-($base--spacing) * 2) $base--spacing
  background $color--grey

  +width-min($mq--desktop)
    margin 0 (-($base--spacing) * 2) ($base--spacing * 2)
