//
// STYLE GUIDE
// ===========
//

.style-guide-nav
  margin ($base--spacing / 2) 0
  background $color--white
  font-family $base--font-heading

  +width-min($mq--tablet)
    margin $base--spacing 0

  a
    display block
    padding $base--spacing
    border-bottom 1px solid $color--grey

.style-guide-section
  margin ($base--spacing / 2) 0
  padding $base--spacing
  background $color--white
  border-bottom 1px solid $color--grey

  +width-min($mq--tablet)
    margin $base--spacing 0

  +width-min($mq--desktop)
    padding ($base--spacing * 2)

.example
  display block
  background $color--grey
  padding $base--spacing

  & + p
  & + h3
    margin-top $base--spacing

    +width-min($mq--desktop)
      margin-top ($base--spacing * 2)
